* {
    box-sizing: border-box;
}

body {
    font-family: "Cascadia Code";
    font-size: 12px;
    line-height: 1.6;
    background-color: var(--gris-foncé-fond);
    font-weight: 300;
    color: white;
  }

.banner__title {
    font-family: "NeoPrint m319";
    font-size: 3rem;
    line-height: 1.6;
    background-color: var(--gris-foncé-fond);
    font-weight: 300;
    color : white;
}

button,
input,
select,
textarea {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}
