:root {
    /* color */
    --gris-foncé-fond: #1e1e1e;
    --rose-site: #ff7ad1;
    --vert-site: #aed02f;

    /* Espaces */
  --spacexs: 10px;
  --spaces: 20px;
  --spacesm: 30px;
  --spacem: 40px;
  --spacel: 60px;
  --spacexl: 80px;
  --spacexxl: 120px;
  }