/* Vendors */
@import "vendors/normalize.css";

@font-face {
    font-family: 'Cascadia Code' format("truetype");
    src: url(/assets/fonts/cascadia-code/Cascadia.ttf);
  }

  @font-face {
    font-family: 'traditional-punk';
    src: url(/assets/fonts/traditional_punk/Traditional\Punk.otf);
  }

  @font-face {
    font-family: 'nep-print';
    src: url(/assets/fonts/neoprint_m319/NeoPrintM319.otf);
  }

  @font-face {
    font-family: 'labor-union';
    src: url(/assets/fonts/labor-union/LaborUnion-Regular.otf);
  }

/* Utils */
@import "utils/variables.css";

/* Base */
@import "base/main.css";
@import "base/media.css";

/* Layout */
@import "layout/header.css";
@import "layout/footer.css";

/* Components */